[submodule "oss/rocksdb"]
	path = oss/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "oss/czmq"]
	path = oss/czmq
	url = https://github.com/zeromq/czmq.git
[submodule "oss/mongo-c-driver"]
	path = oss/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
